<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motive">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="motive."
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MotiveHomeActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".EventOneActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".EventTwoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".EventThreeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".FirstActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQYYWQBO30uxsZLORFlzmZiSK9EHlJzHg" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>